<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562686591984-7qf9oaspj0jlvht9e7upv6q72jb236f8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562686591984-7qf9oaspj0jlvht9e7upv6q72jb236f8</string>
	<key>API_KEY</key>
	<string>AIzaSyCxwTek29_pzYX6p3nTAXBHz21AbT2Da8w</string>
	<key>GCM_SENDER_ID</key>
	<string>562686591984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gasshub</string>
	<key>PROJECT_ID</key>
	<string>myfirst-386de</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirst-386de.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562686591984:ios:dbbcbe94c8ef18bfc95335</string>
	<key>DATABASE_URL</key>
	<string>https://myfirst-386de-default-rtdb.firebaseio.com</string>
</dict>
</plist>